/*html, body {
	height: 100%;
	background:#f4f4f4;
	
}
*/


html {
	/*width:100%;*/
	height:100%;
	/*overflow:hidden;*/
}

body {
	/*width:101%;  kenarda kalan bosluk icin*/
	/*height:100%;*/
	/*overflow-y:scroll;*/
	/*padding-right:17px !important;*/
	background:#f4f4f4;
}

#wrapper {
	position:relative;
	top:-3px;
	padding-bottom:40px;
}

#container {
	/*background:red;*/
	margin:0 auto 0 auto;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	
}

#popup-overlay {
	display:none;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:#717171;
	width:100%;
	height:100%;
	opacity:0.8;
	z-index:1001;
}

#popup {
	display:none;
	position:absolute;
	top:10%;
	width:100%;
	opacity:0;
	background:#fff;
	text-align:center;
	box-shadow:4px 5px 10px #5a5a5a;
	z-index:10001;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#popup.loader #popup-buton {
	display:none;
}

#popup-header{
	padding:15px 5px;
	text-align:center;
	font-size:20px;
	margin-bottom:10px;
	border-bottom:1px dashed #d3d3d3;
}

#popup-buton {
	position: absolute;
	/*right: -8px;*/
	top: -11px;
	left:50%;
	margin-left:-6px;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
}
#popup #popup-content {
	display:inline-block;
	    padding: 10px 0;
}

.obarey-tooltip {
	display:none;
	position:absolute;
	padding:2px;
	background:#d2d2d2;
	z-index: 10002; /* popuptan 1 fazla */
}

.obarey-tooltip > img {
	width:100px;
	height:100%;
}
.obarey-tooltip > .tooltip-text {
	text-align:center;
	font-size:14px;
	background:#fff;
	padding:10px;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	line-height:1.5;
}


.header {
    width: 100%;
    /*height: 50px;*/
    padding: 15px 0;
    background: #c35757;
    box-shadow: 1px 2px 2px #989898;
    color:#fff;
}

.header .left-nav {
    float:left;
 }
.header .right-nav {
    float:right;
    position: relative;
    top: 7px;
}
#header-loader {
	display:none;
	float:left;
    background: #fff;
    border-radius: 50%;
}

.left-nav .logo {
    font-size: 30px;
}

@media screen and ( min-width:1px ) and (max-width:767px ){
    .header .left-nav,
    .header .right-nav {
        float:none;
        margin:0 auto;
        text-align:center;
    }
    .header .right-nav {
     
    }

    .header .right-nav > .dropdown .dd-content {
        width:100%;
    }

    .header .right-nav > .dropdown > .dd-content .dd-menu li > a{
        width:auto;
    }
    .header .right-nav > .dropdown .dd-button {
        padding:3px 0;
    }
}

.dropdown {
    position:relative;
}

.dropdown .dd-button {
    cursor:pointer;
}

.dropdown .dd-button > span {
    display: inline-block;
    position: relative;
    top: -7px;
    left: 5px;
    font-size: 14px;
}

.dropdown .dd-content {
    display:none;
    position:absolute;
    top:25px;
    z-index:1000;
}

.dd-content .dd-menu {
    background:#fff;
    border:1px solid #d3d3d3;
}

.dd-content .dd-menu li > a {
    padding: 10px 30px;
    color: #000;
    font-size: 15px;
    text-align: center;
    width: 80px;
    display: block;
    transition:0.4s all;
}

.dd-content .dd-menu li > a:hover {
    background:#d3d3d3;
}


.main-nav {

}

.main-nav .main-nav-list {
    display:none;
}
.main-nav .main-nav-list ul {
    margin-bottom:15px;
}
.main-nav .main-nav-list ul li a{
    width: 100%;
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background: #ffffff;
    margin-bottom: 5px;
    border-radius: 5px;
    border-bottom: 1px solid #d3d3d3;
}

.main-nav-toggle {
    display: block;
    padding: 20px;
    margin: 0 auto;
}

.main-nav-toggle > span {
    display: inline-block;
    position: relative;
    top: -6px;
    left: 10px;
}

.loader img {
	width:10px;
	height:10px;
}
.loader.lcenter img {
	margin:0 auto;
	display:block;
}

/* full */
@media screen and ( min-width:992px ) {
	#container {
		width:1000px;
	}
}


/* bir boy kucuk */
@media screen and ( min-width:768px ) and (max-width:991px ) {
	#container {
		width:750px;
	}
}


.input-container {
	margin-bottom:15px;
}


.input-container label {
	display:block;
	text-align:center;
	margin-bottom:8px;
}

.input-container input[type="checkbox"] {
	display:block;
	width:20px;
	margin:0 auto;
}

.input-container .hat-select {
	    max-width: 50%;
}

.input-container input[type="file"] {
	border:none;
	padding:none;
	min-width: 200px;
	display:block;
	margin:0 auto;
	box-shadow:none;
	font-size:14px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"],
.input-container select,
.input-container  textarea {
	min-width: 200px;
	    padding: 7px 15px;
	border: 1px solid #e0e0e0;
	box-shadow: inset 1px 2px 2px #e2e2e2;
	margin:0 auto;
	font-size:13px;
	display:block;
}

.input-error {
	    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    color: #ff0000;
}

.qty-input-container {
	text-align:center;
}
.qty-input-container input {
	display:inline-block !important;
}
.qtybtn {
	    display: inline-block;
    padding: 5px 10px;
    position: relative;
    top: 1px;
    background: #c35757;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
}

.section {

}

.section-header {
	    text-align: center;
    text-shadow: 2px 2px 2px #fff;
    margin-bottom: 25px;
    font-size: 22px;
    color: #c35757;
}

.section-error {
	    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ff0000;
}

.otobus.data-table > ul > li {
	margin-bottom:3px;
}
.otobus.data-table > ul > li {
    background: #ffffff;
    border-bottom: 1px solid #989898;
    box-shadow: 1px 1px 1px #d3d3d3;
}
.otobus.data-table > ul > li .otobus-header{
	 cursor: pointer;
	 	padding: 15px 5px;
	 font-weight:600;
	 transition:all 0.3s;
}
.otobus.data-table > ul > li .otobus-header:hover {
	/*background:rgba(255, 131, 59, 0.14);*/
	color:#c35757;
}
/*.otobus.data-table > ul > li.odd {
	    background: #ffffff;
    border-color: #e4e4e4;
}*/
.otobus.data-table > ul > li .otobus-header .otobus-summary,
.otobus.data-table > ul > li .otobus-header i {
	display:inline-block;
	float:left;
}
.otobus.data-table > ul > li .otobus-header .otobus-summary > span{
	display: inline-block;
    position: relative;
    top: 8px;
    left: 10px;
}
.otobus.data-table > ul > li .otobus-header .down-arrow {
	float:right;
	    position: relative;
    top: 12px;
}

.otobus.data-table .otobus-content{
	display:none;
	border-top: 1px solid #ffffff;
	padding:10px 0;
}
.otobus.data-table .otobus-content > ul {
	text-align: center;
    font-size: 14px;
    margin: 10px 0 20px 0;
}
.otobus.data-table .otobus-content > ul > li{
    padding: 3px 0;
}

.otobus.data-table .otobus-content > ul > li > span {
	font-weight:600;
	color:#c35757;
}
.otobus.data-table .otobus-content > ul > li > span:after{
	content:" : ";
}
.otobus.data-table .otobus-content .content-nav {

}
.otobus.data-table .otobus-content .content-nav ul.itemc-3 li {
	width:33.3%;
}
.otobus.data-table .otobus-content .content-nav ul li {
	float:left;
	width:14.2%;
	text-align:center;
}
.otobus.data-table .otobus-content .content-nav ul li a{
    font-size: 13px;
    color: #000;
    display: inline-block;
    padding: 8px 15px;
    color: #fff;
    border-radius: 4px;
    background:#c35757;
}
.otobus.data-table .otobus-content .content-nav ul li a.sari{
	background:#9e9e3c;
	/*border-color:#9e9e3c;*/
}
.otobus.data-table .otobus-content .content-nav ul li a.mavi{
	background-color:#5656ff;
}
.otobus.data-table .otobus-content .content-nav ul li a.turuncu{
	background-color:#ff5e00;
}
.otobus.data-table .otobus-content .content-nav ul li a.siyah{
	background-color:#000;
}
.otobus.data-table .otobus-content .content-nav ul li a.kirmizi {
	background-color:#ff4545;
}


.yakit-data-table .content-nav ul li{
	width:50% !important;
}
.markalar-data-table .content-nav ul li{
	width:25% !important;
}
.stok-data-table .content-nav ul li{
	width:33.33% !important;
}

.inner-table {
	width:97%;
	margin:0 auto;
}

.inner-table thead tr td {
	padding: 5px;
    font-weight: 600;
    font-size: 13px;
    color: #7b7b7b;
    text-align: center;
}

.inner-table tbody tr {
	background: #f4f4f4;
    border-bottom: 1px solid #d3d3d3;
}

.inner-table tbody tr td {
    text-align: center;
    font-size: 13px;
    padding: 3px;
}

.section-content .main-form-notf {
	display:none;
	padding: 10px 0;
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}

.section-content .main-form-notf.error {
	color: #ff0000;
    background: #fff1f1;
    border: 1px dotted #ff0000;
}

.section-content .main-form-notf.success {
	color: #01880a;
    background: #effff0;
    border: 1px dotted #006d07;
}

.section-content .main-form-notf.loading {
	color: #656923;
    background: #feffef;
    border: 1px dotted #808232;
}

.ico {
	display:inline-block;
}

.down-arrow {
	width:20px;
	height:12px;
	background:url('../img/ico_down_arrow.png');
}
.up-arrow {
	background:url('../img/ico_up_arrow.png') !important;
}
.header-user {
	width:23px;
	height:25px;
	background:url('../img/ico_user.png');
}
.menu-lines {
	width:34px;
	height:24px;
	background:url('../img/ico_menu.png');
}
.otobus-summary > i {
	width:32px;
	height:32px;
}
.bus-big {
	background:url('../img/ico_otobus.png');
}
.yakit-big {
	background:url('../img/ico_yakit.png');
}
.parca-big {
	background:url('../img/ico_parca.png');
}
.ico-durak {
	background:url('../img/ico_durak.png');
	width:62px;
	height:44px;
}
.ico-saat{
	background:url('../img/ico_saat.png');
	width:38px;
	height:44px;
}

@media screen and ( min-width:1px ) and (max-width:767px ){ 
	.otobus.data-table .otobus-content .content-nav ul li a{
		font-size:12px;
		padding: 5px;
	}
	.otobus.data-table .otobus-content .content-nav ul li {
		float:none;
		width:auto !important;
		margin-bottom:15px;
	}
	.otobus.data-table > ul > li .otobus-header .otobus-summary > span {
		font-size:13px;
		top:0;
	}
	.otobus.data-table > ul > li .otobus-header > .otobus-arrow {
		top:4px;
	}
	.otobus.data-table > ul > li .otobus-header .otobus-summary > i {
		display:none;
	}
}

.dt-nav-container {
	    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0 2px 1px #feffef;
}

@media screen and ( min-width:1px ) and (max-width:767px ){
	.dt-nav-container > a{
		display:block;
		margin:5px 0;
	}
}

.pagination-container {

	padding:10px 0;
	margin:10px 0 10px 0;
	border-top:1px dashed #d3d3d3;
	border-bottom:1px dashed #d3d3d3;
	font-size:13px;
	text-align:center;
}


.pagination-container .pagination-center {
	display:none;
	/*display:inline-block;*/
	margin-top:10px;
}

.pagination-container .pagination-col {
	float:left;
	margin-right:10px;
	
}

.pagin-toggle {
	display: block;
    margin: 0 auto;
}

@media screen and ( min-width:1px ) and (max-width:767px ){
	.pagination-col {
		float:none !important;
		display:block;
		margin:0 auto 10px auto;
	}
	.hide-mobile {
		display:none;
	}
	.mobile-iblock {
		display:inline-block !important;
	}

}

.pagination-col > span {
	display:inline-block;
	padding:6px 2px 0 0;

}
	
/* hat filter select */
#dt_hat {
	max-width: 200px;
}

.pagination-btn {
	display:inline-block;
	padding:12px;
	border:1px solid #e0d8c7;
	border-radius:3px;
	background:url('../img/ico_pagination_sprite.png');
	cursor:pointer;
}


.pagininput.text {
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #e0d8c7;
	font-size: 12px;
}

.pagininput.select {
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #e0d8c7;
	font-size: 12px;
}



.filterbtn {
	position: relative;
    top: 2px;
    color: #fff;
    border-radius: 3px;
    padding: 4px 6px;
}
.filterbtn.kirmizi {
	background: #c35757;
}
.filterbtn.gri {
	background:#d7d7d7;
}

.pagination-container button.last {
	background-position:24px 24px;
}	

.pagination-container button.first {
	background-position:24px 0;
}

.pagination-container button.prev {
	background-position:0px 24px;
}


.dortlu, .ikili, .tekli-orta {
	margin-bottom:20px;
}

.dortlu > li a,
.ikili > li a,
.tekli-orta > li a{
	display:block;
	padding:10px 0;
	text-align:center;
	color:#675858;
	background:#fff;
	font-size:15px;
	border-bottom:2px solid #d3d3d3;
	transition:0.4s all;
	    /*min-height: 60px;*/
}

.dortlu > li a:hover,
.ikili > li a:hover,
.tekli-orta > li a:hover{
	box-shadow:2px 2px 5px #d3d3d3;
}
.dortlu > li a > div,
.ikili > li > a  div,
.tekli-orta > li > a  div {
	font-size:25px;
	font-weight:600;
	padding-top: 5px;
	text-shadow: 1px 1px 2px #d3d3d3;
}

.dortlu > li > a div small,
.ikili > li > a div small,
.tekli-orta > li > a div small{
	font-size:13px;
}

.dortlu > li {
	float:left;
	width:23%;
	margin:0 1%;

}

.ikili > li {
	float:left;
	width:48%;
	margin:0 1%;
}

.tekli-orta > li{
	width:60%;
	margin: auto;
}

.table-toggle {
	cursor:pointer;
}

.gecikme-bg{
	background:#f4bcbc;
}

.filo-table {
	width:100%;
	
}
.filo-table select,
.filo-table input {
	width: 60px;
    border: 1px solid #a9a9a9;
    padding: 0 3px;	
}

.filo-table .kisa-input {
	width:40px;
}
.filo-table .orta-input {
	width:70px;
}

.table-height-cont {
	/*border-left:2px solid #c35757;*/
	background:#fff;
}
.filo-table thead tr td {
	text-align:center;
	font-size: 13px;
    font-weight: 600;
    padding:5px 0 10px 0;
    color: #7b7b7b;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.filo-table tbody tr td {
	text-align: center;
    padding: 10px 0;
    text-shadow: 1px 1px 1px #fff;
    font-size: 13px;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.filo-table .stats-row {
	background: #ffffff;
    border-bottom: 1px solid #d3d3d3;
    transition:0.2s all;
}
.filo-table .stats-row:hover {
	background:#ececec;
}

.filo-table .stats-row .header-key{
	    font-size: 15px;
    font-weight: 600;
}

#popup .popup-filo-mesaj {

}

#popup .popup-filo-mesaj ul {

}

#popup .popup-filo-mesaj ul li {
	margin-bottom:10px;
}

#popup .popup-filo-mesaj ul li .mesaj-header{

}

#popup .popup-filo-mesaj ul li .mesaj-header .mesaj-kaynak {
	display: block;
    text-align: left;
    float:left;
    font-weight:600;
    font-size:14px;
}

#popup .popup-filo-mesaj ul li .mesaj-header .mesaj-saat {
	display: block;
    text-align: left;
    position: relative;
    left: 10px;
    top:1px;
    font-style: italic;
    font-size: 13px;
}

#popup .popup-filo-mesaj ul li .mesaj-icerik{
	display: block;
	padding:10px;
	margin-top:4px;
    text-align: left;
    background:#f7f7f7;
    font-size:12px;
    border:1px solid #e8e8e8;
}

.stats-table {
	margin-bottom:10px;
}

.stats-table-header {
	    padding: 10px 0;
    background: #fff;
    border-radius: 25px;
    border-bottom: 1px solid #d3d3d3;
}
.spacer {
	height:5px;
}

.filo-orer .pagination-center {
	display:inline-block;
}

#coklu-takip-container {
	position:absolute;
	top:520px;
	width:100%;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
#coklu-tables {
	margin:0 auto;
}

#filo-takip-uyari-toggle{
	position:fixed;
	display:none;
	top:0;
	width:60px;
	height:60px;
	font-size:20px;
	/*background:rgba(255, 0, 0, 0.5);*/
	font-weight:600;
	text-align:center;
	cursor:pointer;
	right:50%;
	margin-left:-30px;
}


@keyframes pulse {
  0% {
    color: #001F3F;
  }
  100% {
    color: yellow;
    /*font-size:50px;*/
    text-shadow:10px 0 15px #ff0000,
    			0   10px 15px #ff0000,
    			0 -10px 15px #ff0000,
    			-10px 0 15px #ff0000;
  }
}
.alarm-animate {
	animation: pulse 0.5s infinite;
}
#alarm-info {
	
	display: block;
    position: relative;
    top: -54px;
    right: -2px;
    font-size: 40px;
    text-align: center;
}
.uyarilar-section {
	    height: 200px;
    background: #fff;
    /*border: 2px solid #e6b00b;*/
    box-shadow:2px 2px 2px #d4d4d4, -2px -2px 2px #d4d4d4;
    overflow-y:scroll;
    padding:10px;
    text-align:center;
}

.uyarilar-section ul{
	/*display:inline-block;*/
	text-align: left;
}

.uyarilar-section ul li,
.popup-uyari-section li{
	padding: 7px 10px;
    margin-bottom: 5px;
    position: relative;
    /*border-radius:4px;*/
    cursor:pointer;
}

.popup-uyari-section li.goruldu,
.uyarilar-section ul li.goruldu {
	opacity:0.4;
	transition:0.4s all;
}

.uyarilar-section ul li.goruldu:hover,
.popup-uyari-section li.goruldu:hover {
	opacity:1;
}

.uyarilar-section ul li.kirmizi,
.popup-uyari-section li.kirmizi {
	background:#ff0000;
	color:#fff;
}

.uyarilar-section ul li.sari,
.popup-uyari-section li.sari {
	    background: #ffde78;
    color: #4e3f0f;
}

.uyarilar-section ul li.mavi,
.popup-uyari-section li.mavi{
	    background: #b0c6ff;
    color: #0d2c7d;
}

.uyarilar-section ul li > span.saat,
.popup-uyari-section li > span.saat {
	font-size: 13px;
    display: inline-block;
    top: -1px;
    background: #f4f4f4;
    position: absolute;
    font-style: italic;
    color: #000;
    border-right: 4px solid #fff;
    top: 0;
    padding: 9px 5px 0 5px;
    bottom: 0;
    left: 0;

}
.uyarilar-section ul li > span.uyari-kod,
.popup-uyari-section li > span.uyari-kod {
	display:inline-block;
	font-size:16px;
	font-weight:600;
	text-shadow: 1px 1px 1px #8e8e8e;
	    margin-left: 42px;
}

.uyarilar-section ul li > a,
.popup-uyari-section li > a {
	    display: inline-block;
    font-size: 13px;
    position: absolute;
    top: 5px;
    color: #000;
    font-weight: 600;
    padding: 4px 5px;
    background: #fbff00;
    right: 9px;
    border-radius: 4px;
    margin-left: 10px;

}

.uyarilar-section ul li > span.uyari-icerik,
.popup-uyari-section li > span.uyari-icerik{
	    display: inline-block;
    font-size: 15px;
    font-weight: 600;
        padding-left: 13px;
    
}


.filo-table-container {
	width:48%;
	/*float:left;*/
	padding: 0 1% 2% 1%;
	/*margin-right:40px;*/
}

.filo-table-container .table-details {
	padding: 10px 0;
    font-size: 15px;
    background: #ffffff;
    /*border-left: 2px solid #c35757;*/
    border-bottom: 2px solid #c35757;
    box-shadow: 0 2px 2px #d3d3d3;
    text-align:center;
}

.filo-table-nav {
	display:inline-block;
}

.filo-table-nav .filo-nav-ico {
	background:url('../img/ico_filotable_nav_sprite.png');
	width:35px;
	height:35px;
	margin:0 70px;
}

.filo-nav-ico.durak {
	background-position:0  0;
}

.filo-nav-ico.alarm {
	background-position:-35px  0;
}

.filo-nav-ico.mesaj {
	background-position:0  -35px;
}

.filo-nav-ico.info {
	background-position:-35px  -35px;
}

.filo-nav-ico.stats {
	background-position:0  -70px;
}

.filo-table-container .table-header{
	text-align:center;
	padding: 10px 0 10px 10px;
    font-weight: 600;
    background: #ffffff;
    border-top: 2px solid #c35757;
    border-bottom: 1px solid #d3d3d3;
}
.filo-table-container .table-header .otobus-data-header{
	font-size:16px;
	color:#c35757;
}
.filo-table-container .table-header .otobus-data-stats{
	font-size:13px;
	padding-top:5px;
}
.filo-table-container .table-details .details-durak,
.filo-table-container .table-details .details-saat {
	width:50%;
	float:left;
}

.filo-table-container .table-details .icon{
	text-align:center;
}
.filo-table-container .table-details .durak-data,
.filo-table-container .table-details .saat-data{
	text-align:center;
	font-weight:600;
	font-size:13px;
}
.filo-table-container .table-details .bottom-nav {
	text-align:center;
	margin-top:15px;
}
.otobus-data-stats .seferstat {
	display: inline-block;
	padding:2px 0;
	font-weight:normal;
}
.otobus-stats-link{
	font-weight:600;
}
.otobus-stats-link.tamamlanan_seferler {
	color: #656565;
}
.otobus-stats-link.aktif_seferler {
	color: #50ab00;
}
.otobus-stats-link.ek_seferler {
	color: #b19045;
}
.otobus-stats-link.iptal_seferler{
    color: #ff0000;
}
.otobus-stats-link.yarim_seferler {
	color: #ff8888;
}
.otobus-stats-link.planlanan_seferler {
	color:#000;
}
.otobus-stats-link.tanimsiz_seferler {
	color:#0087ff;
}
.otobus-stats-link.bekleyen_seferler {
	color: #000;
}
.otobus-stats-link.sefer_yuzdesi {
	    padding: 2px 5px;
    border: 1px solid #b3b3b3
}
.otobus-stats-link.kapi_kodu {
	text-shadow: 1px 1px 3px #B5B5A8;
}
.tablo-kapat {
	position: absolute;
    right: 28px;
    top: 11px;
}

@media screen and ( min-width:0px ) and (max-width:1100px ) {
	.filo-table-container {
		width:90% !important;
		float:none !important;
		padding:1% 0 !important;
		margin:0 auto;
	}
	.filo-table tbody tr td,
	.filo-table thead tr td{
		font-size:12px;
	}
}
@media screen and ( min-width:0px ) and (max-width:1410px ) {
	.filo-table tbody tr td,
	.filo-table thead tr td{
		font-size:12px;
	}
}

@media screen and ( min-width:1px ) and (max-width:767px ){
	#coklu-takip-container {
		top:450px !important;
	}

	.filo-table tbody tr td,
	.filo-table thead tr td{
		font-size:12px;
	}
}
/*
	.filo-table thead {
		display:none;
	}

	.filo-table tbody tr {
		display:block;
		padding:3px;
	}
	.filo-table tbody tr td{
		display:none;
		padding:5px 0 0 0 !important;
		font-size:13px !important;
	}
	.filo-table tbody tr td:before {
		content: attr(tdata);
	    font-weight: 600;
	    display: block;
	    padding-bottom: 5px;
	}
}
*/
.row-header {
	text-align:center;
	font-weight:600;
	font-size:13px;
	padding:5px;
	cursor:pointer;
}

.filo-table tbody tr.tamam,
.legsq.tamam {
	background: #e6e6e6;
    border-bottom: 1px solid #a0a0a0;
}
.filo-table tbody tr.bekleyen,
.legsq.bekleyen {
	background: #fff;
    border-bottom: 1px solid #b1b1b1;
}
.filo-table tbody tr.aktif,
.legsq.aktif {
	background: #caeaae;
    border-bottom: 1px solid #98aa89;
}
.filo-table tbody tr.iptal,
.legsq.iptal {
	background: #f4bcbc;
    border-bottom: 1px solid #b28d8d;
}
.filo-table tbody tr.eksik_bilgi,
.legsq.eksik_bilgi {
	background: #c2d1f7;
    border-bottom: 1px solid #7b849c;
}
.filo-table tbody tr.yarim,
.legsq.yarim {
	    background: #ffe8e8;
    border-bottom: 1px solid #ffa5a5;
}
.filo-table tbody tr.eksefer,
.legsq.eksefer {
	background: #ffedc4;
	border-bottom: 1px solid #b19045;
}   
.table-legend {
	margin-bottom:20px;
}
.table-legend ul {
	text-align:center;
}
.table-legend ul li{
	font-size:13px;
	padding:0 5px;
	display:inline-block;
}
.legsq {
	width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    bottom: -3px;
}
.stat-planlanan {
	color:#000;
}
.stat-eksefer {
	color:#b19045;
}
.stat-iptal{
	color:#c35757;
}
.stat-aktif {
	color:#468e06;
}
.stat-bekleyen {
	color:#909090;
}
.stat-tamamlanan{
	color:#675858;
}
.stat-eksik_bilgi{
	color:#7b849c;
}






#harita {
	border-bottom: 3px solid #c35757;
    border-top: 3px solid #c35757;
    height:400px;
}
.placemark-durak {
	position: relative;
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.placemark-durak > .circle-layout {
	background-color: white;
    position: absolute;
    left: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #225D9C;
    color: #225D9C;
    line-height: 30px;
    border-radius: 50px;
}
.map-loader {
	display:block;
	margin:200px auto 0 auto;
}

.durak-listesi  {
	margin-top:20px;
}

.koordinat-table-container > table {
	width:100%;
}

.koordinat-table-container > table thead tr th {
	    padding: 5px;
    font-size: 13px;
    font-weight: 600;
}
.koordinat-table-container > table tbody tr {
	background:#fff;
	border-bottom:2px solid #d3d3d3;
}
.koordinat-table-container > table tbody tr td {
	padding:5px;
	border-right: 1px solid #d3d3d3;
    text-align: center;	
}
.koordinat-table-container > table tbody tr td > button {
	font-size:13px;
}


.servis-kayit-form {

}

.servis-kayit-form ul.servis-kayit-tabs {
	width:100%;
}

.servis-kayit-form ul.servis-kayit-tabs > li {
	
}

.servis-kayit-form ul.servis-kayit-tabs li > button {
	display: block;
    padding: 10px;
    text-align: center;
    background: #fff;
    width: 100%;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.04);
    color: #c35757;
    border-bottom: 1px solid #d3d3d3;
    font-size: 14px;
    margin-bottom: 10px;
}

.servis-kayit-form ul.servis-kayit-tabs > li > div {
	display:none;
	position: relative;
    top: -12px;
    background:#fff;
    padding:10px;
    border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3;
}

.servis-tab-content .otobus-sec .input-container {
	text-align:center;
}
.servis-tab-content .otobus-sec input {
	display:inline-block;
}

.form-full.input-container textarea,
.form-full.input-container input {
	width:98%;
	padding:5px !important;
	font-size:13px;
}

.form-full.input-container label {
	font-size:13px;
	font-weight:600;
}
.servis-tab-content .parca-button {
	text-align:center;
}

.parca-listesi {
	    margin-top: 20px;
    width: 100%;
}

.parca-listesi tbody tr {
	background: #f4f4f4;
    border-bottom: 1px solid #d3d3d3;
}
.parca-listesi thead tr td {
	font-weight:600;
	color:#989898;
}
.parca-listesi tbody tr td,
.parca-listesi thead tr td {
	font-size: 13px;
    padding: 3px 5px;
    text-align:center;
}
.parca-listesi tbody tr td button {
	font-size:13px;
}

.otobus-error-notf {
	    text-align: center;
    font-weight: 600;
    padding: 10px 0;
    color: #ff0000;
}

#finalize {
	display:block;
	width:100%;
}

.row {

}

.row:after {
	clear:both;
	visibility:hidden;
	height:0;
	display:block;
	content:"";
}

@media screen and ( min-width:1px ) and (max-width:377px ){
	.man-table .sag-body ,
	.man-table .sol-header{
		text-align:center;
		width:100% !important;
		float:none !important;
	}

}

@media screen and ( min-width:1px ) and (max-width:767px ){
	.row .col {
		float:none !important;
		width:100% !important;
	}
	.row .col .col-content {
	}

	.man-table .sag-body ,
	.man-table .sol-header{

	}

	.man-table > li {
		width:100%;
	}
}

.row .col {
	float:left;
}
.row .col.wp_100 {
	float:none !important;
}

.row .col .col-header{
	text-align: center;
    margin-bottom: 14px;
    font-size: 15px;
    font-weight: 600;
}

.man-table {

}

.man-table > li {
	margin-bottom:3px;
}
.man-table > li:after {
	clear:both;
	visibility:hidden;
	height:0;
	display:block;
	content:"";
}
.man-table .sol-header{
    font-weight: 600;
    color: #c35757;
    min-width: 170px;
    border-right: 3px solid #fff;
}

.man-table .sag-body{
/*    min-width: 300px;
    max-width: 50%;*/
}

.man-table .sag-body ,
.man-table .sol-header{
	float: left;
	background: rgba(211, 211, 211, 0.18);
	
	padding:4px 0;
	font-size:13px;
	width:49%;
}



.sag-body li {
	max-width:280px;
}

.navbtn {
	display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    cursor:pointer;
    border-radius: 4px;
    margin-right:5px;
}
.navbtn.orange {
	background: #ff833b;
    color: #fff;
}
.navbtn.main-red{
	    background: #dc5757;
	    color: #fff;
}


.obarey-dt {
	padding:10px 0;
}
.obarey-dt .dt-header {
	text-align: center;
    color: #c35757;
    font-size: 19px;
    text-shadow: 1px 1px 1px #ffffff;
    margin-bottom: 10px;
}

.filter-container {
	margin-bottom:20px;
}

.filter-container .filter-center {
	text-align:center;
	/*background: #fff;*/
    padding: 5px 0;
    /*box-shadow: 0 1px 2px #d3d3d3;*/
    border-top: 1.5px dashed #bdbdbd;
	border-bottom: 1.5px dashed #bdbdbd;
}

.filter-container .filter-center .filter-row {
	display:inline-block;
	padding:10px 0;
	
}

.filter-container .filter-center .filter-row .filter-row-header {
	text-align:center;
	font-size:13px;
	margin-bottom:10px;
	/*font-weight:600;*/
	color: #dc5757;
}

.filter-container .filter-center .filter-row  .filter-col {
	float:left;
	margin-left:10px;
}

.filter-container button,
.filter-container .filter-row span,
.filter-ks-cont,
.filter-container .filter-col span {
	font-size:13px;
}

.filter-ks-cont{
	padding: 5px;
    text-align: center;
}
.sbut {
	cursor:pointer;
	padding: 10px 25px;
	font-weight: 600;
	display: inline-block;
	border-radius: 4px;
}

.sbut.red{
	background:#dc5757;
	color:#fff;
}

.submit-center {
	text-align:center;
}

.redborder {
	border:1px solid #ff0000 !important;
}

.obarey-cb{
	background: #e6e6e6;
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    transition:0.2s;
    font-size:12px;
    margin:4px;
}

.obarey-cb.selected {
	background:#c35757;;
	color:#fff;

}

.filter-loader {
	display:none;
}

/* common */
.active {
	display:block !important;
}
.activeib {
	display:inline-block !important;
}
.hidden {
	display:none !important;
}
.mbot-20{
	margin-bottom:20px;
}
.mtop-15 {
	margin-top:15px;
}
.wp_25{
	width:25%;
}
.wp_33{
	width:33.33%;
}
.wp_50{
	width:50%;
}
.wp_75{
	width:75%;
}
.wp_100{
	width:100%;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.clearfix:after {
	clear:both;
	visibility:hidden;
	height:0;
	display:block;
	content:"";
}

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
button {
	background:none;
	cursor:pointer;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
